@use '../../styles/utils/variables' as var;
@use '../../styles/utils/mixins' as mx;

.page {
  height: calc(100vh - 88px);
  background-color: var.$light-secondary-color;
  padding: 64px 128px 100px;
}

.dropDown {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  @include mx.flex-center;
}
