@use '../../styles/utils/variables' as var;

.menu {
  display: none;

  position: absolute;
  top: -32px;
  right: 0;
  z-index: 1000;

  width: 100vw;
  height: 100vh;

  background: rgba($color: #000000, $alpha: 0.3);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.menu.isOpen {
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 80vw;
  height: 100%;

  padding: 64px 32px;
  margin-left: auto;
  background-color: var.$light-secondary-color;
}

.closeButton {
  position: absolute;
  top: 32px;
  right: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 32px;
  height: 32px;

  fill: black;
  stroke: black;
}
