@use '../../styles/utils/variables' as var;
@use '../../styles/utils/mixins' as mx;

.page {
  min-height: calc(100vh - 88px);

  background-color: var.$light-secondary-color;
  padding: 64px 128px 100px;
}
