@use '../../styles/utils/variables' as var;

.favorite,
.notFavorite {
  width: 26px;
  height: 26px;
}

.notFavorite {
  stroke: gray;
  fill: transparent;
}

.favorite {
  @each $color, $value in var.$accent-colors {
    &--#{$color} {
      fill: $value;
    }
  }
}
