@use '../../styles/utils/placeholders' as *;
@use '../../styles/utils/mixins' as mx;
@use '../../styles/utils/variables' as var;

.button {
  @include mx.flex-center;
  @extend %button-text;

  gap: 18px;

  padding: 14px 40px;

  border-radius: 30px;
  border: 1px solid rgba(251, 251, 251, 0.4);

  transition: box-shadow 0.3s ease;

  &:hover,
  &:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
}

.formButton {
  width: 100%;
}

.border {
  color: var.$dark-color;
  border: 1px solid transparent;

  @each $color, $value in var.$accent-colors {
    &--#{$color} {
      border-color: $value;
    }
  }
}

.accent {
  border: transparent;

  @each $color, $value in var.$accent-colors {
    &--#{$color} {
      background-color: $value;
    }
  }
}
