@use '../../styles/utils/variables' as var;

.logo {
  color: var.$light-color;

  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;

  transition: color 0.3s ease;

  &:hover,
  &:focus,
  &:active {
    color: #ffffff41;
  }
}
