@use '../../styles/utils/placeholders' as *;
@use '../../styles/utils/mixins' as mx;
@use '../../styles/utils/variables' as var;

.wrapper {
  position: relative;
}

.select {
  @include mx.flex-center;
  @extend %button-text;

  gap: 4px;

  padding: 8px 24px;

  border-radius: 30px;

  transition: box-shadow 0.3s ease;

  color: var.$dark-color;
  border: 1px solid transparent;

  @each $color, $value in var.$accent-colors {
    &--#{$color} {
      border-color: $value;
    }
  }

  &:hover,
  &:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
}

.home {
  background-color: var.$light-color;
}

.icon {
  width: 24px;
  height: 24px;

  fill: transparent;

  @each $color, $value in var.$accent-colors {
    &--#{$color} {
      stroke: $value;
    }
  }
}

.list {
  position: absolute;

  top: calc(100% + 8px);
  left: 0;

  width: 100%;
  padding: 16px;

  border-radius: 14px;
  background-color: #fff;
  z-index: 1000;
}

.option {
  margin-bottom: 12px;

  color: rgba(var.$dark-color, 0.3);

  &:hover {
    color: var.$dark-color;
  }

  cursor: pointer;
}

.option.selected {
  color: var.$dark-color;
}
