// colors -----------------------------

$dark-color: #11101c;
$light-color: #fbfbfb;
$red-accent-color: #f03f3b;
$blue-accent-color: #0957c3;
$green-accent-color: #103931;

// -----------------------------------
