// colors -----------------------------

$dark-color: #11101c;
$light-color: #fbfbfb;
$light-secondary-color: #f3f3f3;

$accent-colors: (
  red: #f03f3b,
  green: #103931,
  blue: #0957c3,
);

// -----------------------------------
