@use '../../../styles/utils/placeholders' as *;
@use '../../../styles/utils/mixins' as mx;
@use '../../../styles/utils/variables' as var;

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include mx.mq('tab') {
  }

  @include mx.mq('desk') {
  }
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.item {
  @include mx.flex-center;
  gap: 8px;

  padding: 4px 8px;

  svg {
    height: 16px;
    width: 16px;
  }

  p {
    @extend %main-text-bold;
  }

  &:not(:last-child) {
    border-right: 1px solid rgba(var.$dark-color, 0.2);
  }

  @include mx.mq('tab') {
  }

  @include mx.mq('desk') {
    padding: 0 16px;
  }
}

.iconMap {
  fill: transparent;
  stroke: var.$dark-color;
}
.iconStar {
  fill: #ffc531;
}
.price {
  color: #38cd3e;
}
.favoriteWrapper {
  display: flex;
  gap: 48px;
}
