@use '../../styles/utils/variables' as var;
@use '../../styles/utils/placeholders' as *;
@use '../../styles/utils/mixins' as mx;

.pageWrapper {
  padding: 16px;
  @include mx.mq('desk') {
    padding: 32px;
  }
}

.page {
  position: relative;

  display: block;
  min-height: calc(100vh - 88px);
  overflow: auto;

  overflow: hidden;

  border-radius: 30px;

  @include mx.mq('tab') {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include mx.mq('desk') {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.contentWrapper {
  display: flex;
  align-items: center;

  min-height: calc(100vh - 88px);

  padding-left: 48px;
  padding-right: 16px;

  color: var.$light-color;

  @include mx.mq('tab') {
    padding-left: 72px;
  }

  @include mx.mq('desk') {
    padding-left: 96px;
  }
}

.title {
  margin-bottom: 28px;

  font-size: 44px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;

  @include mx.mq('tab') {
    font-size: 60px;
  }

  @include mx.mq('desk') {
    font-size: 70px;
  }
}

.text {
  margin-bottom: 64px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.07;
  letter-spacing: -0.02em;

  @include mx.mq('tab') {
    font-size: 22px;
  }

  @include mx.mq('desk') {
    font-size: 28px;
  }
}

.imageWrapper {
  display: none;

  position: relative;

  background-image: url(../../images/home_page.jpg);
  overflow: hidden;

  @include mx.mq('tab') {
    display: block;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .imageWrapper {
    background-image: url(../../images/home_page_2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.link {
  @include mx.flex-center;
  @extend %button-text;

  display: inline-flex;
  gap: 18px;

  padding: 18px 50px;

  border-radius: 30px;
  border: 1px solid rgba(251, 251, 251, 0.4);

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

  transition: box-shadow 0.3s ease;

  &:hover,
  &:focus,
  &:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

  &:hover > .icon,
  &:focus > .icon,
  &:active > .icon {
    transform: rotate(53deg);
  }
}

.icon {
  width: 18px;
  height: 14px;
  fill: var.$light-color;

  transition: transform 0.3s ease;
}

@each $color, $value in var.$accent-colors {
  .#{'#{$color}'} {
    background-color: $value;
  }
}

.dropdown {
  position: absolute;

  top: 98px;
  right: 12px;

  @include mx.mq('tab') {
    top: 124px;
    right: 50px;
  }
}

.info {
  position: absolute;
  right: 50px;
  bottom: 50px;

  display: flex;
  gap: 16px;

  padding: 32px;

  border-radius: 20px;
  background-color: var.$light-color;
}

.checkBox {
  @include mx.flex-center;

  padding: 12px;

  border-radius: 13px;

  @each $color, $value in var.$accent-colors {
    &--#{'#{$color}'} {
      background-color: $value;
    }
  }

  & > .icon {
    height: 30px;
    width: 30px;
  }
}
.price {
  color: var.$dark-color;
  font-size: 24px;
  font-weight: 600;
}
