@use '../utils/placeholders' as *;
@use '../utils/variables' as var;

body {
  @extend %main-text;

  font-family: 'Helvetica Neue';
  font-style: normal;

  background-color: var.$light-color;
}

button {
  cursor: pointer;
}
