@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../fonts/HelveticaNeueRegular.otf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../fonts/HelveticaNeueMedium.otf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../fonts/HelveticaNeueBold.otf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
